.nav-links {
    margin: 40px;
    display: flex;
    justify-content: center; /* Centra los enlaces horizontalmente */
    flex: 1; /* Permite que el contenedor ocupe el espacio disponible */
  }
  
  .router-link-active {
    background-color: rgb(122, 8, 8);
    font-size: 20px;
    font-weight: bold; 
    text-decoration: underline; 
  }

  mat-divider {
    background-color: #a10c0c; /* Cambia el color del divisor */
    height: 2px; /* Ajusta el grosor del divisor */
    margin: 20px ; /* Espaciado arriba y abajo */
    border: none; /* Elimina el borde predeterminado */
  }
